/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1300px;
  max-width: 100%;
}

/* # GENERAL */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

/* ________HEADER________ */

.header-container {
  height: 4em;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;

  /* debug */
  background-color: lightcoral;
}

.header-container > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* debug */
  background-color: aquamarine;
}

.gender > ul {
  display: flex;
}

.gender li {
  padding: 0 8px;
}

.logo > img {
  max-height: 2em;
}

/* ________MAIN________ */

/* upper card */
.card-container {
  padding: 8em 0 4em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card:hover > .photo-card > .img-uno {
  display: none;
}

.photo-card > .img-due {
  display: none;
}

.card:hover > .photo-card > .img-due {
  display: block;
}

.photo-card {
  max-width: 600px;
  position: relative;
}

.photo-card > img {
  max-height: 600px;
}

.label {
  display: flex;
}

.percent {
  background-color: red;
  padding: 5px 8px;
  font-weight: bold;
  font-size: small;
  color: white;
  margin-right: 4px;
}

.sustainability {
  background-color: green;
  padding: 5px 8px;
  font-weight: bold;
  font-size: small;
  color: white;
}

.favourite-item {
  position: absolute;
  background-color: white;
  padding: 0.8rem;
  top: 30px;
  right: 0;
}

.favourite-item > i {
  font-size: 1.2rem;
}

/* lower card */
.label {
  position: absolute;
  bottom: 50px;
}

.item-description > .price > .discount {
  color: red;
}

.item-description > .price > .full-price {
  text-decoration: line-through;
}

/* ________FOOTER________ */

.footer {
  display: flex;
  align-items: center;

  background-color: black;
  color: white;
  height: 5em;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
}

.name-company {
  padding-bottom: 10px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social > span {
  padding-bottom: 5px;
}

.info-company > ul {
  display: flex;
}
